<div class="details" [ngClass]="cardComponent.setBackgroundColor(pokemon.types, 'pokecard')">
    <header class="details__header">
        <h2 class="details__name">{{ pokemon.name | titlecase }}</h2>
        <main class="details__pictures">
            <img class="details__image" width="120px" height="120px" src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon?.id}}.png">
            <div class="details__evolutions">
                <img class="details__sprites" src="{{pokemon?.sprites.front_default}}" alt="">
                <img class="details__sprites" src="{{pokemon?.sprites.back_default}}" alt="">
            </div>
            <div class="details__evolutions">
                <img class="details__sprites" src="{{pokemon?.sprites.front_shiny}}" alt="">
            </div>
        </main>
    </header>
    <main class="details__content">
        <h2 class="details__title">Information</h2>
        <p class="details__items">Height: {{ pokemon.height / 10 }} m</p>
        <p class="details__items">Weight: {{ pokemon.weight / 10 }} kg.</p>
        <p class="details__items">Base exp: {{ pokemon.base_experience }} exp.</p>
        <p class="details__items">Abilities: </p>
    </main>
    <button class="details__delete" (click)="closeModel()">Click</button>
</div>