@import '../../../assets/scss/main.scss';

.details {
    width: 750px;
    height: 575px;
    font-family: $overpass;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: white;
    border: 5px yellow solid;
    display: flex;

    &__name {
        color: $text;
        text-align: center;
    }

    &__pictures {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    &__image {
        width: 250px;
        height: 250px;
    }

    &__header {
        min-width: 40%;
        max-width: 60%;
        border-right: 2px yellow solid;
    }

    &__delete {
        height: 50px;
    }

    &__evolutions {
        display: flex;
        justify-content: space-between;
    }

    &__sprites {
        width: 100px;
        height: 100px;
    }

    &__title {
        color: $text;
    }

    &__items {
        color: $text;
    }
}