<article class="pokecard" (click)="getSelectedPokemon(pokemon)" [ngClass]="setBackgroundColor(pokemon.types, 'pokecard')">
    <!-- <div class="pokecard__checkboxes">
        <div class="pokecard__favourite">
            <app-favourite></app-favourite>
        </div>
        <div class="pokecard__caught">
        <app-caught></app-caught>
        </div>
    </div> -->
    <section class="pokecard__header">
        <div class="pokecard__options">
            <app-favourite></app-favourite>
            <app-caught class="pokecard__option-spacing"></app-caught>
        </div>

        <div class="pokecard__types">
            <span class="pokecard__type" [ngClass]="setBackgroundColor(pokemon.types, 'pokecard__type')" *ngIf="pokemon?.types[1]">{{ pokemon?.types[1].type.name }}</span>
            <span class="pokecard__type" [ngClass]="setBackgroundColor(pokemon.types, 'pokecard__type')" *ngIf="pokemon?.types[0]"> {{ pokemon?.types[0].type.name }}</span>
        </div>
    </section>

    <img class="pokecard__image" src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon?.id}}.png">
    <section class="pokecard__info">
        <span class="pokecard__item">#{{ pokemon?.id }}</span>
        <span class="pokecard__item">{{ pokemon?.name | titlecase }}</span>
    </section>
</article>
