@import '../../../assets/scss/main.scss';

.pokecard {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 17px;
    background-color: grey;
    align-items: flex-end;
    flex-direction: column;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius: 7px;
    padding: 0 15px 0 15px;
    cursor: pointer;

    &__checkboxes {
        display: flex;
        position: absolute;
        padding-right: 200px;
        margin-bottom: 40px;
    }
    &__favourite {
        margin-right: 5px;
    }


    &:hover {
        opacity: 0.9;
    }

    &__image {
        width: 100%;
        height: 80%;
        padding-top: 15px;
    }

    &__info {
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 0;

        @include font-face($overpass, 18px, $text);
    }

    &__item {
        margin: 0 5px 0 5px;
        list-style: none;
    }

    &--normal {
        background-color: $normal;
    }

    &--fire {
        background: $fire;
    }

    &--fighting {
        background: $fighting;
    }

    &--water {
        background: $water;
    }

    &--flying {
        background: $flying;
    }

    &--grass {
        background: $grass;
    }

    &--poison {
        background: $poison;
    }

    &--electric {
        background: $electric;
    }

    &--ground {
        background: $ground;
    }

    &--psychic {
        background: $psychic;
    }

    &--rock {
        background: $rock;
    }

    &--ice {
        background: $ice;
    }

    &--bug {
        background: $bug;
    }

    &--dragon {
        background: $dragon;
    }

    &--ghost {
        background: $ghost;
    }

    &--dark {
        background: $dark;
    }

    &--steel {
        background: $steel;
    }

    &--fairy {
        background: $fairy;
    }
}

