@import '../../../assets/scss/helpers/vars';

.pokecard {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 17px;
    background-color: grey;
    align-items: flex-end;
    flex-direction: column;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius: 7px;
    padding: 15px 15px 0 15px;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    &__image {
        width: 100%;
        height: 80%;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &__item {
        margin: 0 5px 0 5px;
        list-style: none;
    }

    &--normal {
        background-color: $normal;
    }

    &--fire {
        background: $fire;
    }

    &--fighting {
        background: $fighting;
    }

    &--water {
        background: $water;
    }

    &--flying {
        background: $flying;
    }

    &--grass {
        background: $grass;
    }

    &--poison {
        background: $poison;
    }

    &--electric {
        background: $electric;
    }

    &--ground {
        background: $ground;
    }

    &--psychic {
        background: $psychic;
    }

    &--rock {
        background: $rock;
    }

    &--ice {
        background: $ice;
    }

    &--bug {
        background: $bug;
    }

    &--dragon {
        background: $dragon;
    }

    &--ghost {
        background: $ghost;
    }

    &--dark {
        background: $dark;
    }

    &--steel {
        background: $steel;
    }

    &--fairy {
        background: $fairy;
    }
}

