@import './assets/scss/main';

label:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    cursor: pointer;

}

input[type=checkbox] {
    display: none;
}

.checkbox--pokeball {

    label:before {
        background-color: $checkbox;
        width: 15px;
        height: 15px;
        border-radius: 10px;
    }

    input[type=checkbox]:checked + label:before {
        background: url("../src/assets/images/pokeball.png");
    }
}

label:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

.checkbox--star {
    label:before {
        background: url("../src/assets/images/star-grey.png")
    }

    input[type=checkbox]:checked + label:before {
        background: url("../src/assets/images/star-yellow.png")
    }
}