@mixin font-face($font-family, $font-size, $font-color, $font-weight: normal, $line-height: normal, $letter-spacing: normal, $font-stretch: normal, $font-style: normal) {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    font-stretch: $font-stretch;
    font-style: $font-style;
}

@mixin input{
    background-color: $input-background;
    border:  none;
    outline: none;
    color: $input-text;
    border-radius: 5px;
    padding: 5px;
    font-family: $overpass;

    &:focus {
        color: $input-text-focus;
    }
}
