@import '../../../assets/scss/main';

.teambuilder {
    &__header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: $text;
        font-family: $overpass;
        font-size: 72px;
    }

    &__image {
        width: 145px;
        height: 130px;
        padding-left: 25px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__empty-card {
        width: 250px;
        height: 250px;
        margin: 17px;
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
        border-radius: 7px;
        padding: 10px 15px;
    }
}
