@import '../../../assets/scss/main';

.teambuilder {

    &__header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: $text;
        font-family: $overpass;
        font-size: 72px;
    }

    &__image {
        width: 145px;
        height: 130px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 170px;
    }

    &__input {
        margin: 0 0px 10px 0;
        height: 20px;
        width: 160px;
        background-color: $input-background;
        border:  none;
        outline: none;
        color: $input-text;
        border-radius: 5px;
        padding: 5px;
        font-family: $overpass;

        &:focus {
            color: $input-text-focus;
        }
    }

    &__submit {
        align-self: flex-end;
        color: $input-text;
        background-color: $input-background;
        font-family: $overpass;
        width: 80px;
    }
}