@import '../../../assets/scss/main';

.teambuilder {
    &__header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: $text;
        font-family: $overpass;
        font-size: 72px;
    }

    &__image {
        width: 145px;
        height: 130px;
        padding-left: 25px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
    }
}
