@import '../../../assets/scss/main.scss';

.toolbar {
    width: 100%;
    padding: 20px 20px 3px 42px;
    display: flex;
    flex-direction: row;
    margin-right: 0 auto;

    &__search {
        margin: 10px 100px 10px 0;
        height: 20px;
        background-color: $input-background;
        border:  none;
        outline: none;
        color: $input-text;
        border-radius: 5px;
        padding: 5px;
        font-family: $overpass;
    
        &:focus {
            color: $input-text-focus;
        }
    }
}

.pokemon-list {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}