//main colors
$pink: #c82d8c;
$text: #ffffff;
$primary-theme: #5e318f;
$primary-theme-hover: #68448f;
$primary-theme-background: #363535;
$pokemon-border: #E1C96F;

//inputs
$checkbox: #d3d3d3;
$input-background: #bdbdbd;
$input-text: #686767;
$input-text-focus: #464545;
$tag-border: #a3a3a3;

//titles
$title: #1f1726;

//pokémon types
$type-normal: #a8a878;
$type-fire: #f08030;
$type-fighting: #c03028;
$type-water: #6890f0;
$type-flying: #a890f0;
$type-grass: #78c850;
$type-poison: #a040a0;
$type-electric: #f8d030;
$type-ground: #e0c068;
$type-psychic: #f85888;
$type-rock: #b8a038;
$type-ice: #98d8d8;
$type-bug: #a8b820;
$type-dragon: #7038f8;
$type-ghost: #705898;
$type-dark: #705848;
$type-steel: #b8b8d0;
$type-fairy: #ee99ac;

//pokémon background-types
$normal: #8f8f66;
$fire: #c46e31;
$fighting: #a52922;
$water: #4f73c7;
$flying: #7e6bb8;
$grass: #64ac40;
$poison: #772c77;
$electric: #cea609;
$ground: #af9650;
$psychic: #ca486f;
$rock: #907e2b;
$ice: #73a3a3;
$bug: #8a9718;
$dragon: #5228b4;
$ghost: #493963;
$dark: #493a30;
$steel: #6c6c7a;
$fairy: #a76875;

//fonts
$overpass: overpass;
$roboto: roboto;
