<nav class="navigation">
    <ul class="navigation__list">
        <div class="navigation__container">
            <h1 class="navigation__title" [routerLink]="['/home']">Master-dex</h1>
            <img class="navigation__gif" src="../../../assets/images/thiccachu.gif">
        </div>
    </ul>
    <ul class="navigation__list navigation__list--right">
        <li class="navigation__item">
            <a class="navigation__tag">Team</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__tag">Login</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
